body {
    margin: 0;
}

.banner {
    text-align: center;
    color: #ffffff;
    background: no-repeat url('../banner-crop.jpg');
    padding-top: 200px;
    padding-bottom: 300px;
}

.banner > .restaurantName {
    font-size: 4em;
}

.banner > .tagLine {
    font-size: 1.5em;
}

