body {
    margin: 0;
}

.home {
    text-align: center;
    font-size: 3em;
    color: #ffffff;
    background: no-repeat url('../banner-crop.jpg');
    padding-top: 200px;
    padding-bottom: 300px;
}
