body {
    margin: 0;
}

.banner {
    text-align: center;
    color: #ffffff;
    background: no-repeat url('../banner-crop.jpg');
    padding-top: 200px;
    padding-bottom: 300px;
}

.banner > .restaurantName {
    font-size: 4em;
}

.banner > .tagLine {
    font-size: 1.5em;
}

.reviewH1 {
    padding-top: 40px;
    text-align: center;
}
.reviews {
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
    padding-bottom: 100px;
}

blockquote {
    margin: 0;
}

blockquote p {
    padding: 15px;
    background: #eee;
    border-radius: 5px;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}

/* Tab styling */
.tabBar {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    column-gap: 100px;
}

.tabBar button {
    color: #ffffff;
    background-color: rgb(0, 0, 0); /* fallback color */
    background-color: rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s;
    font-size: 1.5em;
    font-weight: 500;
    border: 2px solid #f1f1f1;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
}

.tabBar button:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

/* Contact page styling */
.address,
.phone,
.hours > *:not(table) {
    text-align: center;
}

.address {
    padding-top: 40px;
}

.hours {
   display: flex; 
   flex-direction: column;
   align-items: center;
   padding-bottom: 100px;
}

td {
    padding-right: 20px;
}

/* Menu page styling */
.menu {
    padding-top: 40px;
    padding-bottom: 100px;
}
.menu > h1 {
    text-align: center;
}

.menuItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuItem > div {
    display: grid;
    grid-template-columns: repeat(2, 300px) 100px;
    column-gap: 50px;
}

.price {
    justify-self: start;
}
.menuItem img {
    width: 300px;
}
